/* General formatting */
body {
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'Segoe UI', 'lucida grande', 'helvetica neue', helvetica, 'Fira Sans',
    roboto, noto, 'Droid Sans', cantarell, oxygen, ubuntu,
    'franklin gothic medium', 'century gothic', 'Liberation Sans', sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

/* Your text should be in a nice narrow column */
.content-column {
  max-width: 650px;
  margin: 40px auto;
}

/* But your visualization should be full-width and full-height */
.vis-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vis-svg {
  background-color: white;
  margin: 32px 0px;
}

.vis-svg-1 {
  width: 80%;
  height: 600px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphKey {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.blockContainer,
.valueContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.valueContainer {
  align-items: baseline !important;
  justify-content: space-between;
  width: 360px;
}

.valueContainer p {
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 300;
}

.block {
  width: 40px;
  height: 30px;
}

#rightTitle {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.subTitle {
  opacity: 0.6;
  font-size: 12px;
  text-align: center;
  margin: 10px 0 12px 0;
}

.rightpanel {
  padding: 32px 32px 16px 32px;
  border-radius: 12px;
  box-shadow: 0 0 20px 10px #00000010;
  width: 300px;
}

.dropdown select {
  background-color: rgb(242, 242, 242);
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  width: 100%;
  font-size: 18px;
  border: 2px solid black;
  outline: none;
}

.rightmain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightmain p {
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 300;
}

#tooltip {
  width: fit-content;
  height: auto;
  padding: 5px;
  background-color: #fff;
  color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  position: absolute;
}

#vis-2-svg {
  /* margin-left: -10px; */
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */
#forkongithub a {
  background: #00f;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 1.4rem;
  position: relative;
  transition: 0.5s;
}
#forkongithub a:hover {
  background: #118;
  color: #fff;
}
#forkongithub a::before,
#forkongithub a::after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}
#forkongithub a::after {
  bottom: 1px;
  top: auto;
}
@media screen and (max-width: 1000px) {
  #forkongithub {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }
  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
  .vis-holder {
    flex-direction: column;
  }
}
